@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap");
/* font-family: 'Red Hat Display', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1110px;
    margin: 0 auto;
    font-family: "Red Hat Display", sans-serif;
}

/* - - - - header > navbar - - - - */

header {
    margin-bottom: 160px;
}

nav {
    padding: 32px 0;
}

nav,
.nav-left,
.nav-menu,
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.nav-left ul {
    gap: 40px;
    list-style: none;
}

.nav-left a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #7e7f86;
    transition: all 0.3s ease;
}

.nav-left a:hover {
    color: #21232d;
}

.nav-left ul li:nth-child(1) a {
    color: #21232d;
}

.nav-menu {
    width: 70px;
    height: 70px;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 20px 50px 0px #c6b9e94d;
    cursor: pointer;
}

/* - - - - header > .hero - - - - */

.hero {
    padding: 100px 0 50px;
    position: relative;
}

.hero h5 {
    font-size: 24px;
    font-weight: 500;
    color: #666666;
}

.hero h1 {
    font-size: 60px;
    color: #25202f;
    margin-bottom: 16px;
}

.hero p {
    font-size: 24px;
    color: #25202f;
    margin-bottom: 56px;
}

.hero button {
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    background-color: #8643dc;
    padding: 14px 48px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.hero img {
    position: absolute;
    right: -170px;
    top: -135px;
    z-index: -1;
}

/* - - - - main > .main-title - - - - */

.main-title {
    margin-bottom: 56px;
}

.main-title p {
    font-weight: 500;
    font-size: 18px;
    color: #8643dc;
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
    cursor: pointer;
}

.main-title p::after {
    position: absolute;
    content: "";
    bottom: -7px;
    left: 1px;
    width: 70%;
    border-bottom: 2px solid #8643dc;
}

.main-title h2 {
    font-size: 36px;
    line-height: 47.63px;
    color: #25202f;
}

/* - - - - main > .services - - - - */

.main-services {
    padding: 50px 0 100px;
}

.main-services__block {
    display: flex;
    justify-content: space-between;
}

.main-services__block .title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.main-services__block h3 {
    font-weight: 500;
    font-size: 24px;
    color: #25202f;
}

.main-services__block p {
    line-height: 32px;
    color: #47444e;
}

/* - - - - main > .portfolio - - - - */

.main-portfolio .main-title {
    margin-bottom: 30px;
}

.main-portfolio {
    background: linear-gradient(
        180deg,
        rgba(187, 133, 255, 0.14) 0%,
        rgba(255, 177, 222, 0.14) 100%
    );
}

.main-portfolio .container {
    position: relative;
    padding: 50px 0 100px;
}

.main-portfolio__images {
    display: flex;
    justify-content: space-between;
}

.main-portfolio a {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 0;
    top: 120px;
    font-size: 24px;
    font-weight: 500;
    color: #25202f;
}

/* - - - - main > .clients - - - - */

.main-clients {
    padding: 100px 0;
}

.main-clients__block {
    display: flex;
    justify-content: space-around;
}

.main-clients__block .box {
    width: 170px;
    height: 170px;
    text-align: center;
    background-color: #fff6fa;
    border: 1px solid #ffe7f0;
    box-shadow: 0 5px 50px 0 #ffe7f0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-clients__block h4 {
    font-size: 18px;
    font-weight: 500;
}

.main-clients__block img {
    margin-bottom: 20px;
}

.main-clients__block .box:nth-child(2) {
    background-color: #edfff5;
    border-color: #caffe1;
    box-shadow: 0 5px 50px 0 #caffe1;
}

.main-clients__block .box:nth-child(3) {
    background-color: #f5fcff;
    border-color: #ddf5ff;
    box-shadow: 0 5px 50px 0 #ddf5ff;
}

.main-clients__block .box:nth-child(4) {
    background-color: #fffbf2;
    border-color: #ffeec9;
    box-shadow: 0 5px 50px 0 #ffeec9;
}

.main-clients__block .box:nth-child(5) {
    background-color: #f4ffed;
    border-color: #dbffc3;
    box-shadow: 0 5px 50px 0 #dbffc3;
}

.main-clients__block .box:hover {
    background: none;
}

/* - - - - main > .testimonials - - - - */

.main-testimonials {
    padding: 50px 0 100px;
}

.main-testimonials__details {
    text-align: center;
    position: relative;
    background-image: url(../img/main-testimonials-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.main-testimonials__details p {
    width: 569px;
    margin: 20px auto 30px;
    font-weight: 500;
    line-height: 32px;
    color: #636066;
}

.main-testimonials__details h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 4px;
    cursor: pointer;
    display: inline-block;
}

.main-testimonials__details h5 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 56px;
}

.main-testimonials__details-pager {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main-testimonials__details-pager div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #debad9;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-testimonials__details-pager div:nth-child(1) {
    background-color: #8643dc;
    border: none;
}

.main-testimonials__details-pager div:hover {
    border: 1px solid #8643dc;
}

.main-testimonials-background {
    position: absolute;
    left: 16px;
    top: 32px;
}

/* - - - - main > .blog - - - - */

.main-blog {
    padding: 50px 0 100px;
    display: flex;
    justify-content: space-between;
}

.main-blog__left, .main-blog__right {
    width: 48.5%;
    display: flex;
    justify-content: space-between;
}

.main-blog__left span {
    color: #8643DC;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.main-blog__left h3 {
    font-size: 20px;
    line-height: 26.46px;
}

.main-blog__left-img {
    width: 350px;
    background-image: url('../img/main-blog-1.png');
    background-repeat: no-repeat;
    padding-top: 244px;
    cursor: pointer;
}

.main-blog__right > div {
    width: 47%;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
}

.main-blog__right > div:hover {
    box-shadow: 0 5px 30px 5px #7b7b7b;
}

.main-blog__right > div > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: white;
}

.main-blog__right > div:nth-child(1) {
    background-image: url('../img/main-blog-2.png');
}

.main-blog__right > div:nth-child(2) {
    background-image: url('../img/main-blog-3.png');
}